/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.navbar {
	-fx-background-color: #FFFFFF;
}

.navButton{
	-fx-background-color: #AAAAAA;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.navButton:hover{
	-fx-background-color: #BBBBBB;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

.navButton:focused{
	-fx-background-radius: 0;
	-fx-border-width: 0;
}

.navButton:selected{
	-fx-background-insets: 0;
}

.undoButton{
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-background-color: red;
}

.undoButton:hover{
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-background-color: pink;
}

.dismissButton {
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-background-color: gray;
}

.dismissButton:hover {
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-background-color: white;
}